.app {
    background-image: url("../public/img/glassesImage/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100vh;
}
.container {
    background: #333;
    opacity: 0.9;
    z-index: 10;
}
.header {
    display: flex;
    align-items: center;
    height: 12vh;
}
h2 {
    margin: 0 auto;
    text-align: center;
    color: white;
}
.model {
    display: flex;
    justify-content: space-between;
}

.list-glasses {
    width: 70vw;
    margin: 0 auto;
}
.glasse {
    display: inlines;
    width: 100%;
}

.glasse img {
    width: calc(100% / 6);
}
